<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap-icons/font/bootstrap-icons.css">
    <title>Laptop</title>
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)">Sản Phẩm</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)">Giỏ Hàng</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)">Liên Hệ</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="text" placeholder="Nhập tên sản phẩm">
                    <button class="btn btn-primary" type="button">Tìm Kiếm</button>
                </form>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <% data.forEach(function(laptop, index) { %>
                <div class="col-md-4 col-xs-6 border-primary mb-3">
                    <div class="card" style="max-width: 540px;">
                        <div class="container mt-5">
                            <ul class="list-group">
                                <div class="row g-0">
                                    <div class="col-md-12">
                                        <div class="card-header text-black bg-warning">
                                            <p class="card-text">
                                            <h5 class="card-title">
                                                <%= laptop.name %>
                                            </h5>
                                            </p>
                                        </div>
                                    </div>

                                    <div class="col-md-6 mt-3 mb-3">
                                        <img src="<%= laptop.img %>" alt="<%= laptop.name %>" width="100%">
                                    </div>

                                    <div class="col-md-6 mt-3 mb-3">
                                        <div class="card-body">
                                            <div class="text-right">
                                                <span>
                                                    <%= laptop.description %> VNĐ
                                                </span>
                                                <span>
                                                    <%= laptop.price %> VNĐ
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="card-footer">
                                        <p class="card-text d-flex justify-content-between">
                                            <a class="btn btn-outline-primary float-right" href="#">
                                                Chi Tiết
                                            </a>
                                            <a class="btn btn-outline-primary float-right" href="#">
                                                Sửa
                                            </a>
                                            <a class="btn btn-outline-primary float-right" href="#">
                                                Xóa
                                            </a>
                                            <a class="btn text-white" href="#">

                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
                <% }); %>
        </div>
    </div>

</body>

</html>