<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap-icons/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>Home</title>
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Sản Phẩm</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cart">Giỏ Hàng</a>
                    </li>
                    <% if (loggedin) { %>
                        <% if (loggedin) { %>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="/admin" role="button" data-bs-toggle="dropdown">Quản Trị Viên</a>
                                <ul class="dropdown-menu">
                                  <li><a class="dropdown-item" href="/admin/order">Đơn Hàng</a></li>
                                  <li><a class="dropdown-item" href="/admin/laptop">Sản Phẩm</a></li>
                                </ul>
                              </li>
                            <% } %>
                        <% } %>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="text" placeholder="Nhập tên sản phẩm">
                    <button class="btn btn-primary" type="button"><i class="bi bi-search"></i></button>
                </form>
                <div style="margin-left: 10px; margin-right: 10px;">
                    <% if (loggedin) { %>
                        <form method="post" action="/auth/logout">
                            <button class="btn btn-danger" type="submit">
                                Đăng xuất
                            </button>
                        </form>
                        <% } else { %>
                            <form method="get" action="/auth">
                                <button class="btn btn-primary" type="submit">
                                    Đăng nhập
                                </button>
                            </form>
                            <% } %>
                </div>
            </div>
        </div>
    </nav>

    <!-- <div class="text-white mb-3 d-flex justify-content-between">
        <% if (loggedin) { %>
            <form method="get" action="/laptop/add">
                <button class="btn btn-success" type="submit">
                    Thêm mới
                </button>
            </form>
            <form method="post" action="/auth/logout">
                <button class="btn btn-danger" type="submit">
                    Đăng xuất
                </button>
            </form>
            <% } else { %>
                <form method="get" action="/auth">
                    <button class="btn btn-primary" type="submit">
                        Đăng nhập
                    </button>
                </form>
                <% } %>
    </div> -->

    <div class="container">
        <div class="row">
            <% data.forEach(function(laptop) { %>
                <div class="col-md-4 col-xs-6 border-primary mb-3">
                    <div class="card" style="max-width: 400px;">
                        <div class="container mt-5">
                            <ul class="list-group">
                                <div class="row" style="height: 300px;">
                                    <div class="col-md-12">
                                        <div class="card-header text-black bg-warning">
                                            <h5 class="card-title">
                                                <%= laptop.name %>
                                            </h5>
                                        </div>
                                    </div>
    
                                    <div class="col-md-6 mt-3 mb-3">
                                        <img src="<%= laptop.img %>" alt="<%= laptop.name %>" width="100%">
                                    </div>
    
                                    <div class="col-md-6 mt-3 mb-3">
                                        <div class="card-body">
                                            <div class="text-right">
                                                <span>
                                                    <%= laptop.description %> VNĐ
                                                </span>
                                                <span>
                                                    <%= laptop.price %> VNĐ
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ul>
                        </div>
                        <div class="card-footer d-flex justify-content-between">
                            <form method="get" action="/laptop/detail/<%= laptop.id %>" class="col-md-6">
                                <button class="btn btn-outline-primary" type="submit">
                                    Chi tiết
                                </button>
                            </form>
                            <form class="col-md-6">
                                <% if (laptop.status == 1) { %>
                                    <button class="btn btn-success w-100" type="submit">
                                        Còn hàng
                                    </button>
                                <% } else if (laptop.status == 0) { %>
                                    <button class="btn btn-danger w-100" disabled>
                                        Hết hàng
                                    </button>
                                <% } %>
                            </form>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
    
</body>

</html>